@keyframes slide {
  from {
    background-color: red;
    color: white;
  }

  to {
    position: absolute;
    top: 130%;
  }
}
h3 {
  margin-left: 40px

}
.listStage {
  position: relative;
}
ul {
  list-style: none;
}
.listButton {
  border: none;
  background-color: transparent;
  outline: none;
}
.animated {
  animation-name: slide;
  animation-duration: 3s;
  animation-timing-function: linear;
}
.reset {
  margin-left: 40px;
}
.trashcan {
  margin-left: 40px;
}
